@{
    ViewData["Title"] = "Home";
}

<div class="border-bottom pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                Home
            </li>
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="display-1">Welcome!</h1>
</div>

<p class="lead">
    Welcome to the Cloverleaf Track and Field statistics website.
</p>

<p>
    This website has the statistics from (at least) this season of the Cloverleaf Track and Field team. Enjoy!
</p>
