@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Welcome!</h1>
</div>

<p class="lead">
    Welcome to the Cloverleaf Track and Field statistics website.
</p>

<p>
    This website has the statistics from (at least) this season of the Cloverleaf Track and Field team. Enjoy!
</p>
